Source: kvdo
Maintainer: Ryan Northey <ryan@synca.io>
Build-Depends: debhelper (>= 9)

Package: kvdo
Architecture: all
Depends: ${misc:Depends}
Description: VDO deduplication/compression kernel driver
